{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="login-div">
        Login
        <br><br>
        E-mail:
        <br>
        <input class = "login-input" type="text" placeholder="Type your E-mail">
        <br><br>
        Password:
        <br>
        <input class = "login-input" type="password" placeholder="Type your password">
        <br><br>
        <button class="login-button"> Login </button>
    </div>
</body>
</html>